@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@keyframes load {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes gradient{
  0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

*{
  font-family: Young Serif;
}

body{
  color: white;
  animation: load 1s forwards;

  background: linear-gradient(90deg, rgb(33, 21, 52), rgb(61, 40, 95), rgb(16, 1, 40));
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  transform: translate3d(0, 0, 0);
}

.container{
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
